<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Quirkbot API</h1>
        <p>
            Go to <a href="http://code.quirkbot.com">http://code.quirkbot.com</a>
            to enjoy it.
        </p>
    </body>
</html>
